@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 75%;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 90%;
}

.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 2em;
  opacity: 100%;
  margin-left: 2%;
  margin-right: 2%;
}