<router-outlet>
    <video [autoplay]="true" [muted]="true" [loop]="true" src="{{videoSource}}">
        <source type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
      <header class="viewport-header">
        <h1>
          <span>"{{displayedQuote}}"</span>
        </h1>
        <p>{{author}}</p>
    </header>
    <div class="weatherBox">
      Temp: {{temperature}} f
      <br>
      Wind: {{windSpeed}} mph
      <br>
      Weather: {{condition}}
    </div>
    <div class="timeBox">
      Time: {{hour}}:{{minutes}}
    </div>
    <div class="authorBox" id="authorBoxx">

    </div>
</router-outlet>
